
@using MyTinyBlog.Web.MyTinyBlog.Web.ViewModels.Blog
@model TagViewModel

<h2>Decline</h2>

<div>
    <h3>"@Html.DisplayFor(model => model.Name)" tag cannot be deleted, because it is used in post(s)</h3>
</div>
<div>
    @Html.ActionLink("Back to Manage", "Manage")
</div>

