@using MyTinyBlog.Web.MyTinyBlog.Web.ViewModels.Blog
@model IEnumerable<BlogPostViewModel>
<h2>ViewBag.Title</h2>

<table>
    <tr>
        <th>Post title</th>
        <th>Created</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model=>item.Title)</td>
            <td>@Html.DisplayFor(model=>item.CreatedOn)</td>
            <td>
                @Html.ActionLink("Go", "post", "blog",
                new
                {
                    year = item.CreatedOn.Year,
                    month = item.CreatedOn.Month,
                    day = item.CreatedOn.Day,
                    title = item.UrlSlug
                },
                new { title = "Go" })
            </td>
            <td>Edit</td> @*TODO*@
            <td>Delete</td> @*TODO*@
        </tr>
    }
</table>